body{
  margin: 0;
  padding: 0;
  min-width: 1024px;
}

/* header and nav */
.header{
  width: 100%;
  height: 510px;
  background-image: -webkit-linear-gradient(top, #3A3747, #4C4B52);
  background-image: -moz-linear-gradient(top, #3A3747, #4C4B52);
  background-image: -ms-linear-gradient(top, #3A3747, #4C4B52);
  background-image: -o-linear-gradient(top, #3A3747, #4C4B52);
  background-image: linear-gradient(top, #3A3747, #4C4B52);
  position: relative;
}
.banner{
  width: 1024px;
  margin: 0 auto;
}
.logo{
  position: absolute;
  top:20px;
  left: 106px;
}
.logo img{
  width: 50px;
  height: 50px;
}

.nav{
  list-style-type: none;
  position: absolute;
  top: 37px;
  right: 202px;
  width: 400px;
  font-size: 0px;
}
.nav li{
  display: inline-block;
  font-size: 16px;
  margin-right: 35px;
  position: relative;
}
.nav li a{
  text-decoration: none;
  color: #fff;
}
.nav li a:hover{
  text-decoration: none;
  color: #aaa;
}

.nav2{
  position: absolute;
  left: -9999px;
  padding-top: 20px;
  opacity: .5;
  -webkit-transition: opacity .5s, left 0s .5s;
  -moz-transition: opacity .5s, left 0s .5s;
  -ms-transition: opacity .5s, left 0s .5s;
  -o-transition: opacity .5s, left 0s .5s;
  transition: opacity .5s, left 0s .5s;
}
.nav li:hover .nav2{
  left: 0;
  opacity: 1;
  -webkit-transition: opacity .5s .1s, left 0s 0s;
  -moz-transition: opacity .5s .1s, left 0s 0s;
  -ms-transition: opacity .5s .1s, left 0s 0s;
  -o-transition: opacity .5s .1s, left 0s 0s;
  transition: opacity .5s .1s, left 0s 0s;
}
.nav2 > li{
  display: block;
}
.nav2 > li a{
  display: inline-block;
  padding: 1em 1.2em;
  background-color: #E4722D;
  text-decoration: none;
  font-size: 16px;
  width: 100px;
  text-align: left;
}
.nav2 > li a:hover{
  background-color: #fa0;
  text-decoration: none;
  color: #eee;
}

ul+a{
  color: #fff;
  position: absolute;
  top: 38px;
  right: 110px;
  text-decoration: none;
}

.title{
  text-align: center;
  color: #fff;
  width: 272px;
  margin: -266px auto;
}
.title h2{
  margin-bottom: 40px;
}

.fb_btn a{
  background-color: rgb(75, 126, 189);
  color: #fff;
  font-size: 19px;
  padding: 0.7em 2.8em;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.fb_btn a:hover{
  background-color: rgb(65, 119, 186);
}
/*  */


.content{
  text-align: center;
  width: 940px;
  margin: 10px auto;
  color: #000;
  border-bottom: 1px solid #ccc;
}
.content h1{
  margin-top: 20px;
  margin-bottom: 15px;
}
.content h4{
  color: #aaa;
}
.content h3{
  margin-top: 40px;
  padding-bottom: 15px;
}

/*  */


.slide{
  width: 940px;
  height: 320px;
  margin: 25px auto; 
  overflow: hidden;
}
.pic{
  width: 2820px;
  position: relative;
  top: 0;
  left: 0;
}
.pic li{
  float: left;
}

/*  */



/*  */
.categories h3{
  text-align: center;
  width: 940px;
  margin: 40px auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

/*  */



/*  */
.category_nav{
  list-style-type: none;
  margin: 0;
  width: 940px;
  margin: 0 auto; 
}
.category_nav li{
  float: left;
  color: #666;
  padding-right: 40px;
}
.category_nav li a{
  text-decoration: none;
  color: #777;
}
.category_nav li a:hover{
  text-decoration: underline;
}
/*  */


/* tabs sports */
.product_wrapper{
  width: 940px;
  margin: auto; 
  clear: both;
  position: relative;
}
.product{
  background-color: #fff;
  border: 1px solid #888;
  float: left;
  width: 300px;
  height: 350px;
  margin-right: 14px;
  margin-top: 30px;
}
.r{
  margin-right: 0px; 
}
/*  */
.product_info{
  width: 270px;
  margin: 10px auto 0 auto;
}
.product_info span:last-child{
  margin-left: 30px;
}
.product_info span:first-child{
  margin-right: 30px;
}
.product_text{
  line-height: 1;
  width: 280px;
  margin: 10px auto;
}
.product a{
  text-decoration: none;
  color: #d88;
  width: 100px;
  margin: -6px auto;
  display: block;
}
/*  */
.people_wrapper img{
  border-radius: 50%;
}
.people_name{
  width: 50px;
  display: inline-block;
}
.people_wrapper span{
  display: inline-block; 
}
.people_wrapper span:last-child{
  margin-top: 7px;
}
.people_wrapper{
  margin-top: -33px;
  margin-left: 20px; 
}
/*  */


/* tabs food */
.food{
  float: left;
  margin: 55px 25px 0px 18px;
  background-color: #ddd;
  height: 170px;
  width: 270px;
}
.food:hover{
  -webkit-animation: shadow 1.5s infinite;
  -moz-animation: shadow 1.5s infinite;
  -ms-animation: shadow 1.5s infinite;
  -o-animation: shadow 1.5s infinite;
  animation: shadow 1.5s infinite;
}
@-webkit-keyframes shadow{
  0%{ box-shadow: 1px 1px 2px #ccc; }
  100%{ box-shadow: 1px 1px 5px #333;}
}
@keyframes shadow{
  0%{ box-shadow: 1px 1px 2px #ccc; }
  100%{ box-shadow: 1px 1px 5px #333;}
}
.food img{
  margin: 10px auto;
  width: 250px;
  display: block;
}
/*  */


/* tabs boardgame */
.tabs2_content{
  padding-top: 30px;
  line-height: 2;
  letter-spacing: 1px;
}

/*  */


/*  */
.more_btn a{
  font-size: 16px;
  color: #fff;
  padding: 0.7em 1.5em;
  background-color: rgb(101, 185, 185);
  margin: 20px auto 0 auto;
  text-decoration: none;
  position: absolute;
  top: 800px;
  right: 400px;
}
.more_btn a:hover{
  background-color: rgb(121, 185, 185);
}
/*  */


/*  */
.footer{
  background-color: #888;
  width: 100%;
  float: left;
  margin-top: 150px;
}
.footer .wrapper p{
  margin: 50px auto;
  text-align: center;
}


/* signin form */
.signin{
  width: 184px;
  height: 305px;
  position: absolute;
  right: 40px;
  top: 80px;  
  background-color: #eee;
  border-radius: 5px;
  display: none;
  box-shadow: 2px 2px 7px 0px #999;
}
.signin:after{
  content: '';
  width: 0px;
  height: 0px;
  border-width: 0px 10px 10px 10px;
  border-color: transparent transparent #eee transparent;
  border-style: solid;
  margin-left: -10px;
  position: absolute;
  top: 0px;
  bottom: 315px;
  left: 90px;
  margin-top: auto;
  margin-bottom: auto;
}

form .btn{
  display: block;
  position: absolute;
  top: 236px;
  left: 11px;
  padding: 1em 2.5em;
  border-radius: 5px;
  background-color: #f90;
  color: #fff;
  border-style: none;
  width: 160px;
  cursor: pointer;
  -webkit-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  -ms-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}
form .btn:hover{
  background-color: #f70;
}
form label{
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  margin: 12px 0 3px 12px;
}
form input{
  width: 155px;
  height: 20px;
  margin: auto;
  display: block;
}
/*  */


/* jq */
.category_nav a.active{
  color: #9f0;
}

.signin label.error{
  color: #f00;
  font-weight: bold;
}
/*  */







